@import "generales";
@import "index";
@import "productos";
@import "sugerencias";
@import "nosotros";
@import "contacto";
@import "mediaQueries";
@import "variables";

@mixin box_model ($relleno , $margen , $borde , $border_Radius){
    padding: $relleno;
    margin: $margen;
    border: $borde;
    border-radius: $border_Radius;
}








